.ToggleSwitch {
	display: flex;
	align-items: center;
}
.ToggleSwitch-checkbox {
	height: 0;
	width: 0;
	visibility: hidden;
}

.ToggleSwitch-label {
	content: "";
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	width: 56px;
	height: 28px;
	background: white;
	border: 3px solid gray;
	border-radius: 100px;
	position: relative;
	transition: background-color 0.2s;
}
.ToggleSwitch-label .ToggleSwitch-button {
	content: "";
	color: #000;
	position: absolute;
	top: 2px;
	left: 2px;
	width: 24px;
	height: 24px;
	border-radius: 45px;
	transition: 0.2s;
	background: #000;
	box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.ToggleSwitch-label:after {
	content: "F";
	color: white;
	display: block;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 48%;
	left: 25%;
	font-size: 14px;
	font-family: Verdana, sans-serif;
}
input:checked + .ToggleSwitch-label:after {
	content: "C";
	left: 75%;
}

.ToggleSwitch-checkbox:checked + .ToggleSwitch-label .ToggleSwitch-button {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

.ToggleSwitch-label:active .ToggleSwitch-button {
	width: 52px;
}
.ToggleSwitch-inactive-units {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: grey;
	font-size: 14px;
	width: 100%;
	height: 100%;
}
.ToggleSwitch-inactive-units span:first-child {
	left: 10px;
}
.ToggleSwitch-inactive-units span:last-child {
	right: 2%;
}
