.card_section {
	margin-top: 20px;
}
.card_name {
	text-align: center;
	position: relative;
	bottom: 325px;
	left: 115px;
	background-color: white;
	width: 91px;
	border-radius: 5px;
}
.card_image {
	width: 328px;
	height: 328px;
	border-radius: 10px;
}
.card_items {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	margin-top: 20px;
}
